// Color Palette
$charcoal: rgba(20, 25, 20, 1);
$forest_green: rgba(19, 138, 54, 1); // #138A36
$bone: rgba(226, 212, 183, 1);
$grullo: rgba(156, 149, 131, 1);
$quick_silver: rgba(161, 164, 153, 1);
$platinum: rgba(225, 230, 225, 1); // #E1E6E1
$darker_platinum: rgba(207, 215, 207, 0.8); // #CFD7CF (without alpha)
$almost_white: rgba(252, 252, 252, 1);